* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #c7d2fe;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10rem auto;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  height: 4rem;
  width: 20rem;
  position: relative;
}

.password-box {
  height: 100%;
  width: 100%;
  font-size: 1rem;
  padding-left: 1rem;
  outline: none;
  border: 1px solid #c7d2fe;
  border-radius: 5px;
}

/* .wrapper span {
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #818cf8;
  display: none;
} */

.closeEye-icon {
  display: none;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #818cf8;
}

.eye-icon {
  display: none;
  position: absolute;
  font-size: 1.4rem;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #818cf8;
  /* display: none; */
}

/* .wrapper input:valid ~ span {
  display: block;
} */

/* .wrapper span ion-icon.hide-btn::before {
  content: "<ion-icon name=" eye-off-outline "></ion-icon>";
} */
